//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.button {
	display: inline-block;
	padding: rem(8) rem(52);
	background-color: $accentColor;
	color: $mainTextColorLight;
	box-shadow: 0 4px 20px rgba(232, 170, 49, 0.43);
	border-radius: rem(3);
	font-weight: 600;
	font-size: rem(20);
	line-height: math.div(32 , 20);
	text-align: center;
	transition: box-shadow 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			box-shadow: 0 4px 25px rgba(232, 170, 49, 0.73);
		}
	}

	&_border {
		background-color: $mainBgColorWhite;
		border: 1px solid $accentColor;
		color: $accentColor;
		box-shadow: none;
	}
}
